<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
        <br><br>
        <p class="text-center text-muted">Computer Science Department</a></p>
    </div>
</footer>